h4 コメント

- top_level_comments = commentable.comments.top_level.includes(:user, replies: :user)
- if top_level_comments.empty?
  p id="no_comments_found" コメントはありません。
- top_level_comments.each do |comment|
  = render comment
