- if @comment.reply_comment_id
  = turbo_stream.append dom_id(@comment.reply_comment, :replies), @comment
  = turbo_stream.update dom_id(@comment.reply_comment, :reply_form), ""
- else
  - new_comment = Comment.new
  = turbo_stream.remove "no_comments_found"
  = turbo_stream.append "comments_list", @comment
  = turbo_stream.replace dom_id(new_comment, :form) do
    = render "comments/form", comment: new_comment, url: comment_form_url(@commentable), page_selectable: page_commentable?(@commentable)
