
h1 開催日の作成

- if @round.errors.any?                                                                
    .alert.alert-danger                                  
      ul                                                                                 
        - @round.errors.full_messages.each do |msg|      
          li = msg


= form_with model: [@group, @round] do |f|                                                                                      
    .mb-3                                                                                                               
      = f.label :number, "回数:", class: "form-label"                                                          
      = @round.number
      = f.hidden_field :number
    .mb-3                                                                                                               
      = f.label :held_on, "開催日", class: "form-label"
    .mb-1                                                                                                                         
      = f.datetime_local_field :held_on
    .mb-3
      p.form-label ページ範囲
    .mb-1
      = f.label :start_page, "開始"
      = f.select :start_page, (1..10).to_a, {include_blank: "選択してください"}    
    .mb-1
      = f.label :start_page, "終了"                                     
      = f.select :end_page, (1..10).to_a, {include_blank: "選択してください"}                                          
    .mb-3                                                   
      = f.submit "作成", class: "btn btn-primary"

= link_to '戻る', group_path(@group)


