- content_for(:title) { "ホーム" }

h1 ホーム

section.mb-4
  = link_to "輪読会を作成", new_group_path, class: "btn btn-primary"

section.mb-4
  h2.h5 輪読会に入る
  = form_with url: group_members_path, method: :post do |f|
    .mb-2
      = label_tag :invite_token, "招待コード", class: "form-label"
      = text_field_tag :invite_token, nil, class: "form-control", placeholder: "招待コードを入力", required: true
    = submit_tag "参加する", class: "btn btn-outline-primary"

section
  h2.h5 参加中の輪読会
  - if @group_members.empty?
    p 参加中の輪読会はありません。
  - else
    ul.list-group
      - @group_members.each do |member|
        li.list-group-item
          = link_to member.group.title, group_path(member.group)
          span.badge.bg-secondary.ms-2 = member.role == "owner" ? "オーナー" : "メンバー"
